* {
  text-align: center;
  box-sizing: border-box;
}

img {
  max-width: 500px;
  max-height: 500px;
}
* {
  box-sizing: border-box;
}

p {
  color: red;
}

input[type=text] {
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.js-breedsForm {
  font-size: 20px;
}